<% extend('../layouts/base') %>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<section class="content">
  <div class="row">
    <div class="col-xl-4 col-lg-5">
      <!-- Profile Image -->
      <div class="box">
        <div class="box-body box-profile">
          <form id="form-avatar" action="/admin/change-avatar" method="POST" enctype="multipart/form-data">
            <div id="avatar">
              <img id="srcAvt" class="profile-user-img rounded img-fluid mx-auto d-block" <% if(user.avatar) { %>
                src="<%= user.avatar %>" <% } else { %> src="../../../images/avt.png" <% } %>
                alt="User profile picture" />
              <a id="actUpload" title="Change Avatar"><i class="fa fa-photo"></i></a>
              <input type="file" name="avatar" id="fileAvt" style="display: none;">
            </div>
          </form>


          <h2 class="profile-username text-center mb-0"><%= user.username %></h2>
          <!-- <h4 class="profile-role text-center mb-0"></h42> -->

          <h6 class="text-center">
            <span style="font-style: italic; color: #999;"><%= user.role %> </span>
            <% if (user.status == "blocked") { %>
            <span class="label label-danger"><%= user.status %></span> <% } else
            if(user.status == "pending") { %>
            <span class="label label-warning"><%= user.status %></span> <% }
            else { %>
            <span class="label label-success"><%= user.status %></span> <% } %>
          </h6>

          <h4 class="text-muted text-center mt-0">
            <i class="fa fa-envelope-o mr-10"></i> <%= user.email %>
          </h4>

          <div class="row social-states">
            <div class="col-6 text-right">
              <a href="#" class="link"><i class="ion ion-ios-people-outline"></i> 254</a>
            </div>
            <div class="col-6 text-left">
              <a href="#" class="link"><i class="ion ion-images"></i> 54</a>
            </div>
          </div>

          <!-- <div class="row text-center mt-15">
            <button
              type="button"
              class="btn btn-block btn-danger btn-lg"
              data-toggle="modal"
              data-target=".bd-example-modal-sm"
            >
              <i class="fa fa-trash"></i> Delete
            </button>
          </div> -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-xl-8 col-lg-7">
      <form action="/admin/profile" method="POST">

        <div class="box box-solid bg-black">
          <div class="box-header with-border">
            <h3 class="box-title">Personal details</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">First Name</label>
                  <div class="col-sm-10">
                    <input class="form-control" name="first_name" value="<%= user.first_name %>" type="text"
                      placeholder="Khánh" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Last Name</label>
                  <div class="col-sm-10">
                    <input class="form-control" name="last_name" value="<%= user.last_name %>" type="text"
                      placeholder="Ngô" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Email Adress</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="email" name="email" placeholder="johone@dummy.com"
                      value="<%= user.email %>" placeholder="Email" data-validation="email" />
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="">Birthday: </label>
                  <div class="col-sm-10 input-group date">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    <input type="text" class="form-control pull-right" id="datepicker" name="birthday"
                      value="<%= moment(user.birthday).format('MM/DD/YYYY') %>" />
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Phone Number</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="tel" name="phone" placeholder="123 456 7890"
                      value="<%= user.phone %>" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Status</label>
                  <div class="col-sm-10">
                    <select class="form-control" name="status">
                      <option value="blocked" <% if(user.status == 'blocked') { %> selected <% } %> </option>
                        Blocked</option> <option value="active" <% if(user.status == 'active') { %> selected <% } %>
                        </option> Active</option> <option value="pending" <% if(user.status == 'pending') { %> selected
                        <% } %> </option> Pending</option> </select> </div> </div> <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                          <input class="form-control" type="tel" name="address" placeholder="Address"
                            value="<%= user.address %>" />
                        </div>
                  </div>

                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->

            <div class="box-header with-border">
              <h3 class="box-title">Update Password</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input id="inputPassword1" class="form-control" type="password" name="password"
                        placeholder="Password" />
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="password" name="re_password" placeholder="Confirm Password" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-sm-2 col-form-label"></label>
              <div class="col-sm-10">
                <a id="update-profile" class="btn btn-yellow">Update</a>
              </div>
            </div>

          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
  </div>
  <!-- /.box -->
  </form>
  </div>
  <!-- /.col -->
  </div>
  <!-- /.row -->
</section>


<!-- sciprt -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

<script>
  $.validate();

  $(document).ready(function () {
    $("#datepicker").datepicker({
      uiLibrary: "bootstrap4"
    });

    $("#avatar").hover(() => {
      $("#avatar a").css("display", "flex");
    }, () => {
      $("#avatar a").css("display", "none");
    });

    $('#actUpload').click(() => {
      $("#fileAvt").trigger("click");
      $("#fileAvt").change(e => {
        $("#form-avatar").submit();
      })
    });

    // submit profile
    $("#update-profile").click(() => {
      let first_name = $("input[name=first_name]").val();
      let last_name = $("input[name=last_name]").val();
      let email = $("input[name=email]").val();
      let birthday = $("input[name=birthday]").val();
      let phone = $("input[name=phone]").val();
      let status = $("select[name=status]").val();
      let address = $("input[name=address]").val();
      let password = $("input[name=password]").val();
      let re_password = $("input[name=re_password]").val();

      let _data = {
        first_name,
        last_name,
        email,
        birthday,
        phone,
        status,
        address,
        password,
        re_password,
      }

      $.post("/admin/profile", _data, function (data, status) {
        console.log(status)
        if (status === "success") {
          toastr.success("Updated successfully!");
        } else {
          toastr.error("Updated error!")
        }
      });

    })
  });
</script>


<!-- show notification -->
<% if(notification && notification.status == "success") { %>
<% if(notification.action == "change-avatar") { %>
<script>
  $(document).ready(function () {
    toastr.success("Updated Avatar successfully!");
  });
</script>
<% } %>

<% if(notification.action == "update-info") { %>
<script>
  $(document).ready(function () {
    toastr.success("Updated Profile successfully!");
  });
</script>
<% } %>

<% }%>